.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 65px;
    background-color:white;
   width: 180px;
   z-index: 200;
   padding-top: 5px;
   
   
}
.sidebar-link{
    
    font-family: Roboto;
    height:30px;
    text-align: center;
    display: flex;
    justify-content: left;
    flex-direction: row;
    font-size: 14px;
    cursor: pointer;
    padding-top: 12px;
}
.sidebar-link:hover{
    background-color: lightgrey;
    border-radius:5px;
}
.sidebar-link img{
    height: 24px;
    margin-left: 20px;
    
    

}